@font-face {
    font-family: inter;
    src: url(./Inter-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --Pink: hsl(328, 90%, 92%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

body {
    background-color: var(--Grey-900);
    font-family: inter;
}

.container {
    margin: 40px 0;
    max-width: 400px;
    margin-inline: auto;
    background-color: var(--Grey-800);
    padding-bottom: 1rem;
    border-radius: 25px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 1.5rem;
    display: block;
    align-items: center;
    border-radius: 50%;
}

p {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.05rem;
    margin-bottom: 0.5rem;
}

p, img {
    margin-inline: auto;
}

#h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--White);
}

#loc {
    font-size: 1rem;
    color: var(--Pink);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

#desc {
    color: var(--White);
}

a {
    font-weight: 600;
    letter-spacing: 2;
    text-decoration: none;
    color: var(--White);
}

.button {
    padding: 1.2rem;
    margin: 1rem;
    background-color: var(--Grey-700);
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.button:hover {
    background-color: var(--Pink);
    a {
        color: var(--Grey-900);
    }
}
